fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
python-jose[cryptography]
bcrypt
python-multipart
pydantic-settings
python-dotenv
websockets
pyotp
qrcode
aiosmtplib
pillow
aiofiles==23.2.1
slowapi

